{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>任务中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static '/js/jquery-3.5.1.min.js' %} "></script>
    <script src="{% static '/js/jquery.cookie.js' %} "></script>
    <link rel="stylesheet" href="{% static '/css/bootstrap/bootstrap.css' %} " type="text/css">
    <link rel="stylesheet" href="{% static '/css/bootstrap/fileinput.css' %} " type="text/css">
    <script type="text/javascript" src="{% static '/js/bootstrap/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/bootstrap/bootstrapfileinput/fileinput.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/bootstrap/bootstrapfileinput/locales/zh.js' %}"></script>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <!--顶部导航栏-->
        <div class="row clearfix">
            <div class="col-md-12 column">
                <nav class="navbar navbar-default" role="navigation" style="background: #75bcef">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1"><span
                                class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                                class="icon-bar"></span><span class="icon-bar"></span></button>
                        <a class="navbar-brand" href="/">数友引力</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                        <li>
                           <a href="{% url 'task:task_list'%}">任务中心</a>
                        </li>
                        <li>
                            <a href="{% url 'Dataset:dataset_list' %}">数据集</a>
                        </li>
                        <li>
                            <a href="#">讨论中心</a>
                        </li>
                        <li>
                            <a href="#">知识科普</a>
                        </li>
                        </ul>
                        <form class="navbar-form navbar-left" role="search">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder=""/>
                            </div>
                            <button type="submit" class="btn btn-default">搜索</button>
                        </form>
                        {% if request.COOKIES.user_id %}
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        <a href="{% url 'homepage:homepage' %}">
                                            <span class="glyphicon glyphicon-user"></span>{{ request.COOKIES.user_id }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'UserRegister:logout' %}">退出登录</a>
                                    </li>
                                </ul>
                            </div>
                        {% else %}
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="{% url 'UserRegister:sign_in' %}">登录</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">注册<strong
                                            class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{% url 'UserRegister:reg_email' %}">邮箱注册</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'UserRegister:reg_phone' %}">手机号注册</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'UserRegister:reg_password' %}">密码注册</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </nav>
            </div><!--顶部导航栏-->
            <!--创建任务-->
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="col-md-2  col-xs-4">
                        <h3>
                            任务中心
                        </h3>
                    </div>
                    <div class="col-md-4  col-xs-4">
                        <h3>
                            <a type="button" class="btn  btn-default btn-primary"
                               href="{% url 'task:create_task' %}">创建一个任务</a>
                        </h3>
                    </div>
                    <div class="col-md-5 dropdown col-xs-4">
                        <h3>
                            <button type="button" class="btn dropdown-toggle pull-right" id="dropdownMenu1"
                                    data-toggle="dropdown">
                                所有任务
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1"
                                       href="{% url 'task:task_list' page=1 task_status='underway' %}">正在进行</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1"
                                       href="{% url 'task:task_list' page=1 task_status='not_begin' %}">未开始</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1"
                                       href="{% url 'task:task_list' page=1 task_status='end' %}">已截止</a>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1"
                                       href="{% url 'task:task_list' page=1 task_status='all' %}">所有任务</a>
                                </li>
                            </ul>
                        </h3>
                    </div>
                </div>
            </div>
            <!--任务列表-->
            <div class="row clearfix">
                <div class="col-md-12 column">
                    {% for task_info in task_info_page %}
                        <!--一个ele-->
                        <div class="col-md-12 column" style="margin-top: 15px;margin-bottom:15px">
                            <!--信息-->
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <div class="row clearfix">
                                        <!--状态-->
                                        <div class="col-md-2 column col-xs-4">
                                            <h4>
                                                {% if task_info.status == 0 %}
                                                    <span class="glyphicon glyphicon-dashboard"
                                                          style="color:mediumspringgreen;"></span>
                                                    未开始
                                                {% endif %}
                                                {% if task_info.status == 1 %}
                                                    <span class="glyphicon glyphicon-dashboard"
                                                          style="color:dodgerblue;"></span>
                                                    正在进行
                                                {% endif %}
                                                {% if task_info.status == 2 %}
                                                    <span class="glyphicon glyphicon-dashboard"
                                                          style="color:indianred;"></span>
                                                    已结束
                                                {% endif %}
                                            </h4>
                                        </div>
                                        <!--标题-->
                                        <div class="col-md-10 column col-xs-8">
                                            <h4>
                                                <a href="{% url 'task:task_info' task_id=task_info.task_id %}">
                                                    <b>
                                                        {{ task_info.task_title }}
                                                    </b>
                                                </a>

                                            </h4>
                                        </div>
                                    </div>
                                    <!--任务描述-->
                                    <div class="row clearfix">
                                        <div class="col-md-10 column">
                                            <p>
                                                {{ task_info.task_describe }}
                                            </p>
                                        </div>
                                        <!--封面-->
                                        <div class="col-md-1 column clearfix hidden-xs">
                                            <img alt="数据集封面~" src="{% static task_info.dataset_img_path %}"
                                                 class="img-responsive center-block img-rounded"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--金币 开始时间 -->
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <!--金币-->
                                    <div class="col-md-1 column col-xs-3">
                                        <span class="glyphicon glyphicon-bitcoin"></span>
                                        <b>
                                            {{ task_info.coin }}
                                        </b>
                                    </div>
                                    <!--开放时间-->
                                    <div class="col-md-11 column col-xs-9">
                                        <span class="glyphicon glyphicon-bell"></span>
                                        {{ task_info.begin_day }}~{{ task_info.deadline }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--ele-->
                    {% endfor %}
                </div>
            </div>
            <!--分页页数-->
            <div class="col-md-12 col-xs-12 column">
                <div class="row clearfix">
                    <div class="col-md-5 col-xs-4 column">
                    </div>
                    <div class="col-md-3 col-xs-5 column">
                        <ul class="pagination">
                            {% for page in task_info_paginator.page_range %}
                                <li>
                                    <a href="{% url 'task:task_list' page=page task_status=task_status %}">{{ page }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-4 col-xs-3 column">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
<script>
    $(document).ready(function() {
        if ("{{ task_status }}" =='end')
        {
            $("#dropdownMenu1").html('已截止'+'<span class="caret"></span>');
        }
        if ("{{ task_status }}" =='underway')
        {
            $("#dropdownMenu1").html('正在进行'+'<span class="caret"></span>');
        }
        if ("{{ task_status }}" =='not_begin')
        {
            $("#dropdownMenu1").html('未开始'+'<span class="caret"></span>');
        }
        if ("{{ task_status }}" =='all')
        {
            $("#dropdownMenu1").html('所有任务'+'<span class="caret"></span>');
        }

    });
</script>