{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改个人信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static '/js/jquery-3.5.1.min.js' %} "></script>
    <script src="{% static '/js/jquery.cookie.js' %} "></script>
    <link rel="stylesheet" href="{% static '/css/bootstrap/bootstrap.css' %} " type="text/css">
    <link rel="stylesheet" href="{% static '/css/bootstrap/fileinput.css' %} " type="text/css">
    <script type="text/javascript" src="{% static '/js/bootstrap/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/bootstrap/bootstrapfileinput/fileinput.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/bootstrap/bootstrapfileinput/locales/zh.js' %}"></script>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <h2>
            编辑个人信息
        </h2>
        <form role="form" id="dataset_form" enctype="multipart/form-data;"><!--dataset表格-->
            {% csrf_token %}
            <!--用户名-->
            <div class="col-md-12 column">
                <div class="col-md-2">
                    <h4>
                        <span style="color: red">*</span>
                        用户名
                    </h4>
                </div>
                <div class="col-md-6">
                    <h4>
                        <input type="text" class="form-control" name="user_name" id="user_name"
                               placeholder="输入您的昵称" maxlength="10"/>
                    </h4>
                </div>
            </div>
            <!--签名-->
            <div class="col-md-12 column">
                <div class="col-md-2">
                    <h4>
                        个性签名
                    </h4>
                </div>
                <div class="col-md-6">
                    <h4>
                        <input type="text" class="form-control" name="user_signature" id="user_signature"
                               placeholder="用一句话介绍你自己吧" maxlength="15"/>
                    </h4>
                </div>
            </div>
            <!--居住地-->
            <div class="col-md-12 column">
                <div class="col-md-2">
                    <h4>
                        居住地区
                    </h4>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="user_place" id="user_place"
                           placeholder="输入您的居住地" maxlength="10"/>
                </div>
            </div>
            <!--毕业院校-->
            <div class="col-md-12 column">
                <div class="col-md-2">
                    <h4>
                        毕业院校/就职公司
                    </h4>
                </div>
                <div class="col-md-6">
                    <h4>
                        <input type="text" class="form-control" name="user_school_or_company"
                               id="user_school_or_company"
                               placeholder="输入您的毕业院校或就职公司" maxlength="10"/>
                    </h4>
                </div>
            </div>
            <!--专业-->
            <div class="col-md-12 column">
                <div class="col-md-2">
                    <h4>
                        专业/职位
                    </h4>
                </div>
                <div class="col-md-6">
                    <h4>
                        <input type="text" class="form-control" name="user_major_or_position"
                               id="user_major_or_position"
                               placeholder="输入您的专业或者就职公司职位" maxlength="10"/>
                    </h4>
                </div>
            </div>
            <!--个人主页-->
            <div class="col-md-12 column">
                <div class="col-md-2">
                    <h4>
                        个人主页
                    </h4>
                </div>
                <div class="col-md-6">
                    <h4>
                        <input type="text" class="form-control" name="user_personal_web" id="user_personal_web"
                               placeholder="拥有个人主页的你，在此粘贴上链接吧！" maxlength="10"/>
                    </h4>
                </div>
            </div>
            <!--提交按钮-->
            <div class="col-md-12 column">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-default btn-primary btn-block" id="user_info_submit">
                        提交修改！
                    </button>
                </div>
                <div class="col-md-7"></div>
            </div>
        </form>
    </div><!--页面-->
</div>
</body>
</html>
<script>
    $('#user_info_submit').click(function () {
        var user_name = $('#user_name').val();
        var user_signature = $('#user_signature').val();
        var user_place = $('#user_place').val();
        var user_school_or_company = $('#user_school_or_company').val();
        var user_major_or_position = $('#user_major_or_position').val();
        var user_personal_web = $('#user_personal_web').val();
        var csrf = $('input[name="csrfmiddlewaretoken"]').val();
        $.post("{% url 'homepage:personal_info_edit_check' %}",
            {
                'user_name': user_name,
                'user_signature': user_signature,
                'user_place': user_place,
                'user_school_or_company': user_school_or_company,
                'user_major_or_position': user_major_or_position,
                'user_personal_web': user_personal_web,
                'csrfmiddlewaretoken': csrf
            },
            function (data, status) {
                data = eval("(" + data + ")")
                var info_head = data.info_head
                if (info_head == 'fail_01') {
                    alert(data.info_content)
                    var herf = data.extra_message.tolink
                    window.location.href = herf
                }
                if (info_head == 'success_01') {
                    alert(data.info_content)
                    var herf = data.extra_message.tolink
                    window.location.href = herf
                }
            }
        );
    });
</script>